* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.app {
  background-color: #f6f6f6;
  min-height: 100vh;
}
.realEstate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

select {
  margin-bottom: 20px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
  padding: 0 10px;
}

button {
  height: 30px;
  background-color: white;
  border: white;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  height: 30px;
  background-color: rgb(184, 184, 184);
}
