* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow-y: scroll;
}

.app {
  background-color: #f6f6f6;
  min-height: 100vh;
}

select {
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
  padding: 0 10px;
  width: 300px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 300px;
}

.inputGroup label {
  margin-bottom: 3px;
}

.inputGroup input {
  height: 30px;
  border-radius: 5px;
  width: 100%;
  padding: 0 10px;
  font-size: 1.1rem;
}

button {
  height: 30px;
  background-color: white;
  border: white;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  height: 30px;
  background-color: rgb(184, 184, 184);
}

.button {
  margin: 0 10px 10px 0;
}
