.realEstateCard {
  background-color: white;
  border-radius: 5px;
  margin: 1em;
  padding-bottom: 10px;
}

.realEstateCard hr {
  width: 80%;
  margin: 0 auto 10px auto;
  border-top: 1px solid rgb(221, 221, 221);
}
